/*hamburger nav*/
.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}


/*stickey footer*/
html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  min-height: 100%;
}

#appSaved {
  min-height: 100% !important;
}

.container{
	min-height: 100vh;
	padding: 0px;
	margin: 0px;
	width: 100%;
	/*min-height: 100%;*/
  	display: flex;
  	flex-direction: column;
}

.content {
  flex: 1;
  background-color: #A1A8B2;
}

/*bootstrap overrides */


.bg-info{
	padding: 0px;
	margin: 0px;
}

.row{
	padding: 0px;
	margin: 0px;
}


/*banner styling*/
.banner{
	background-image: url("../images/dictation.jpg");
	background-size: cover;
	min-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1{
	color: #FFFFFF;
	text-align: center;
	font-size: 450%;
	text-shadow: 2px 2px #000000;
}

/*footer styling*/
footer{
	text-align: center;
	background-color: #44474C;
	min-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0px 0px 0px;
}

/*nav styling*/
nav{
	background-color: #44474C !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

nav a {
	color: #FFFFFF;
	border-radius: 0%;

}
/*index styling*/
.signUpDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	width: 300px;
	margin-top: 30px;
	margin-left: 40px;
	padding-top: 30px;
	background-color: #FFFFFF;
	box-shadow: 10px 10px 5px #888888;

}

.about{
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 40px;

}

.feature{
	margin-top: 10px;
}

.buttons{
	display: flex;
	margin: 0px 0px 30px 0px;

}

.logInBtn{
	margin-left: 20px;
	margin-right: 20px;
}

.signUpBtn{
	margin-left: 20px;
	margin-right: 20px;
}

.submitBtn{
	margin-right: 20px;
	margin-left: 20px;
}
/*saved notes*/
.notesDiv{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.bodyText{
	min-height: 150px;
	max-height: 150px;
	min-width: 200px;
	max-width: 200px;
	margin: 0px 10px 0px 10px;
	overflow-y: scroll;
}
.savedNote{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin: 30px 40px 30px 30px;
	box-shadow: 10px 10px 5px #888888;
}

#delete ,#open{
	margin: 10px 10px 10px 10px;
}

.noteHighlight{
	min-height: 250px;
	max-height: 250px;
	padding: 10px 10px 10px 10px;

}

/*note builder styling */

.controls, .noteBuilder{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-left: 30px;
	background-color: #FFFFFF;
	min-height: 400px;
	margin-bottom: 30px;
	box-shadow: 10px 10px 5px #888888;

}

.controls h4, .noteBuilder h4{
	text-align: center;
}

#start ,#stop, #save, #reset{
	margin: 10px 10px 10px 10px;
}



